nodered/1.- NGSI Version.json
[{"id":"6cc3e7f5c78bdf83","type":"tab","label":"1.- NGSI Version","disabled":false,"info":""},{"id":"33589530a9e84d9d","type":"FIWARE version","z":"6cc3e7f5c78bdf83","name":"ucoiot-orion","openapis":"826d17b51dd74fbb","x":270,"y":100,"wires":[["d464b0c2a343b580"]]},{"id":"d464b0c2a343b580","type":"debug","z":"6cc3e7f5c78bdf83","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]},{"id":"2919d0c6058ea6c5","type":"inject","z":"6cc3e7f5c78bdf83","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":110,"y":100,"wires":[["33589530a9e84d9d"]]},{"id":"7d26ecd3ca1d13f8","type":"comment","z":"6cc3e7f5c78bdf83","name":"Lets-fiware: Versión & status de CB","info":"Lets-fiware: Versión & status de CB\n","x":180,"y":40,"wires":[]},{"id":"c021751f53ced085","type":"comment","z":"6cc3e7f5c78bdf83","name":"Server Name: http://ucoiot-orion:1026","info":"","x":190,"y":200,"wires":[]},{"id":"41fe4175d1875eb1","type":"comment","z":"6cc3e7f5c78bdf83","name":"Fiware-Service: lavega","info":"","x":140,"y":240,"wires":[]},{"id":"42e8a2c3dd12c93d","type":"comment","z":"6cc3e7f5c78bdf83","name":"Fiware-ServicePath: /curso","info":"","x":150,"y":280,"wires":[]},{"id":"19743380b9f9ca52","type":"comment","z":"6cc3e7f5c78bdf83","name":"iDM Type: None","info":"","x":120,"y":320,"wires":[]},{"id":"826d17b51dd74fbb","type":"Open APIs","name":"ucoiot-orion","geType":"orion","apiEndpoint":"http://ucoiot-orion:1026","service":"lavega","idmEndpoint":"","idmType":"none"}]