nodered/2.- NGSI Entity:Create.json
[{"id":"989a8596cf5475fe","type":"tab","label":"2.- NGSI Entity/Create","disabled":false,"info":"","env":[]},{"id":"c74a292a60da78bb","type":"NGSI Entity","z":"989a8596cf5475fe","name":"NGSI Entity/Create","openapis":"826d17b51dd74fbb","servicepath":"/curso","actionType":"create","entityId":"","entityType":"","attrs":"","keyValues":"false","dateModified":"false","x":290,"y":100,"wires":[["f491206182ff351e"]]},{"id":"c97920881dd17738","type":"inject","z":"989a8596cf5475fe","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"F\",\"type\":\"T\",\"temperature\":{\"type\":\"Number\",\"value\":25,\"metadata\":{\"TimeInstant\":{\"type\":\"DateTime\",\"value\":\"2023-02-10T20:33:53.199Z\"}}},\"relativeHumidity\":{\"type\":\"Number\",\"value\":45,\"metadata\":{}},\"atmosphericPressure\":{\"type\":\"Number\",\"value\":1003.5,\"metadata\":{}}}","payloadType":"json","x":110,"y":100,"wires":[["c74a292a60da78bb"]]},{"id":"f491206182ff351e","type":"debug","z":"989a8596cf5475fe","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":100,"wires":[]},{"id":"d86413e62878d05e","type":"comment","z":"989a8596cf5475fe","name":"Lets-fiware: Create","info":"\n","x":130,"y":40,"wires":[]},{"id":"826d17b51dd74fbb","type":"Open APIs","name":"ucoiot-orion","geType":"orion","apiEndpoint":"http://ucoiot-orion:1026","service":"lavega","idmEndpoint":"","idmType":"none"}]