nodered/3.- NGSI Entity:Read.json
[{"id":"fd3aca6946cc1a01","type":"tab","label":"3.- NGSI Entity/Read","disabled":false,"info":"","env":[]},{"id":"f45acc8af0c06104","type":"inject","z":"fd3aca6946cc1a01","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"E\",\"type\":\"T\",\"attrs\":\"\",\"keyValues\":true,\"dateModified\":false}","payloadType":"json","x":110,"y":100,"wires":[["e21c375743e9d6ab"]]},{"id":"e21c375743e9d6ab","type":"NGSI Entity","z":"fd3aca6946cc1a01","name":"","openapis":"826d17b51dd74fbb","servicepath":"/curso","actionType":"read","entityId":"","entityType":"","attrs":"","keyValues":"false","dateModified":"false","x":270,"y":100,"wires":[["5ef7b54ef19fbafd"]]},{"id":"5ef7b54ef19fbafd","type":"debug","z":"fd3aca6946cc1a01","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]},{"id":"ebb69403f8d7a567","type":"comment","z":"fd3aca6946cc1a01","name":"Lets-fiware: Read","info":"\n","x":120,"y":40,"wires":[]},{"id":"826d17b51dd74fbb","type":"Open APIs","name":"ucoiot-orion","geType":"orion","apiEndpoint":"http://ucoiot-orion:1026","service":"lavega","idmEndpoint":"","idmType":"none"}]