nodered/4.- NGSI Entity:Upsert.json
[{"id":"f2ee568819655086","type":"tab","label":"4.- NGSI Entity/Upsert","disabled":false,"info":"","env":[]},{"id":"f82655f306edbcc0","type":"inject","z":"f2ee568819655086","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"E\",\"type\":\"T\",\"temperature\":{\"type\":\"Number\",\"value\":2500,\"metadata\":{\"TimeInstant\":{\"type\":\"DateTime\",\"value\":\"2023-02-10T20:33:53.199Z\"}}},\"relativeHumidity\":{\"type\":\"Number\",\"value\":4500,\"metadata\":{}},\"atmosphericPressure\":{\"type\":\"Number\",\"value\":100003.5,\"metadata\":{}}}","payloadType":"json","x":110,"y":100,"wires":[["4dca309d6e5be3eb"]]},{"id":"4dca309d6e5be3eb","type":"NGSI Entity","z":"f2ee568819655086","name":"","openapis":"826d17b51dd74fbb","servicepath":"/curso","actionType":"upsert","entityId":"","entityType":"","attrs":"","keyValues":"false","dateModified":"false","x":270,"y":100,"wires":[["31153f5227baed78"]]},{"id":"31153f5227baed78","type":"debug","z":"f2ee568819655086","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":100,"wires":[]},{"id":"eb03d97a5a794272","type":"comment","z":"f2ee568819655086","name":"Lets-fiware: Upsert","info":"\n","x":130,"y":40,"wires":[]},{"id":"826d17b51dd74fbb","type":"Open APIs","name":"ucoiot-orion","geType":"orion","apiEndpoint":"http://ucoiot-orion:1026","service":"lavega","idmEndpoint":"","idmType":"none"}]