nodered/5.- NGSI Entity:Delete.json
[{"id":"8e0af949d3340a95","type":"tab","label":"NGSI Entity/Delete","disabled":false,"info":"","env":[]},{"id":"550046b723422ba0","type":"inject","z":"8e0af949d3340a95","name":"inject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"E\",\"type\":\"T\"}","payloadType":"json","x":110,"y":100,"wires":[["facea00666426fcf"]]},{"id":"44964405023c648b","type":"debug","z":"8e0af949d3340a95","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":100,"wires":[]},{"id":"facea00666426fcf","type":"NGSI Entity","z":"8e0af949d3340a95","name":"","openapis":"826d17b51dd74fbb","servicepath":"/curso","actionType":"delete","entityId":"","entityType":"","attrs":"","keyValues":"false","dateModified":"false","x":290,"y":100,"wires":[["44964405023c648b"]]},{"id":"b968bf2ad469bdc3","type":"comment","z":"8e0af949d3340a95","name":"Lets-fiware: Delete","info":"\n","x":130,"y":40,"wires":[]},{"id":"826d17b51dd74fbb","type":"Open APIs","name":"ucoiot-orion","geType":"orion","apiEndpoint":"http://ucoiot-orion:1026","service":"lavega","idmEndpoint":"","idmType":"none"}]