nodered/6.- TTN-MQTT Suscription
[{"id":"9ab6f481d04df0a5","type":"tab","label":"6.- TTN-MQTT Suscription","disabled":false,"info":"","env":[]},{"id":"6caeace514d85943","type":"mqtt in","z":"9ab6f481d04df0a5","name":"","topic":"v3/atd-noise@ttn/devices/+/up","qos":"2","datatype":"json","broker":"a26ca4ca6a940d93","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":80,"wires":[["2c296d9614c9a94c"]]},{"id":"30ca981e72ef5157","type":"debug","z":"9ab6f481d04df0a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":420,"wires":[]},{"id":"0639be35e1907cfb","type":"inject","z":"9ab6f481d04df0a5","name":"Create entity","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"urn:ngsi-ld:parcel:001\",\"type\":\"parcel\",\"temperature\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"relativeHumidity\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"atmosphericPressure\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"doorStatus\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"cE01\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"cE02\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"cE03\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"cE04\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"cE05\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"humidtySoil01\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"humidtySoil02\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"humidtySoil03\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"humidtySoil04\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"humidtySoil05\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"temperatureSoil01\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"temperatureSoil02\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"temperatureSoil03\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"temperatureSoil04\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"temperatureSoil05\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"valve01\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"valve02\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"valve03\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"valve04\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"steps01\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"steps02\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"steps03\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}},\"steps04\":{\"type\":\"Number\",\"value\":0,\"metadata\":{}}}","payloadType":"json","x":110,"y":720,"wires":[["e2c6e9a5ebd620fc"]]},{"id":"e2c6e9a5ebd620fc","type":"NGSI Entity","z":"9ab6f481d04df0a5","name":"","openapis":"8301bfef2815df18","servicepath":"/poc","actionType":"create","entityId":"","entityType":"","attrs":"","keyValues":"false","dateModified":"false","x":390,"y":720,"wires":[["30ca981e72ef5157"]]},{"id":"f2655a07c2b31bc7","type":"inject","z":"9ab6f481d04df0a5","name":"Update attribute","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\":\"Number\",\"value\":1234.5}","payloadType":"json","x":120,"y":520,"wires":[["dfd9477b2bea68a3"]]},{"id":"dfd9477b2bea68a3","type":"NGSI Attribute","z":"9ab6f481d04df0a5","name":"","openapis":"8301bfef2815df18","servicepath":"/poc","actionType":"update","entityId":"urn:ngsi-ld:parcel:001","entityType":"","attrName":"steps02","metadata":"","skipForwarding":"false","overrideMetadata":"false","forcedUpdate":"false","flowControl":"false","x":400,"y":520,"wires":[["30ca981e72ef5157"]]},{"id":"18542c940dd35ba6","type":"NGSI source","z":"9ab6f481d04df0a5","name":"","openapis":"8301bfef2815df18","servicepath":"/poc","mode":"normalized","entitytype":"","idpattern":"","attrs":"","query":"","buffering":"off","x":390,"y":620,"wires":[["30ca981e72ef5157"]]},{"id":"d636e0c298abeb14","type":"inject","z":"9ab6f481d04df0a5","name":"List entities","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":110,"y":620,"wires":[["18542c940dd35ba6"]]},{"id":"2c296d9614c9a94c","type":"function","z":"9ab6f481d04df0a5","name":"Function Componer Mensaje","func":"// Un atributo.\nmsg.payload = {\n    type:\"Number\",\n    value: msg.payload.uplink_message.decoded_payload.analog_in_1\n\n}\n\n// Varios Atributos.\nmsg.payload = {\n    \"steps03\": {\n        \"type\": \"Number\",\n        \"value\": 300,\n        \"metadata\": {}\n    },\n    \"steps04\": {\n        \"type\": \"Number\",\n        \"value\": 400,\n        \"metadata\": {}\n    }\n}\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":80,"wires":[[]]},{"id":"3668eff53360d368","type":"comment","z":"9ab6f481d04df0a5","name":"1.- Crea la entidad PARCELA (github)","info":"","x":170,"y":680,"wires":[]},{"id":"193f5aea0cdf1096","type":"comment","z":"9ab6f481d04df0a5","name":"2.- Lista las entidades","info":"","x":120,"y":580,"wires":[]},{"id":"1699fd98b2c74f01","type":"comment","z":"9ab6f481d04df0a5","name":"3.- Actualiza un atributo","info":"","x":120,"y":480,"wires":[]},{"id":"3f495a546faee6f7","type":"comment","z":"9ab6f481d04df0a5","name":"Actualiza atributo desde TTN","info":"","x":160,"y":40,"wires":[]},{"id":"ac9319aee416caa7","type":"NGSI Attributes","z":"9ab6f481d04df0a5","name":"","openapis":"8301bfef2815df18","servicepath":"/poc","actionType":"update","entityId":"urn:ngsi-ld:parcel:001","entityType":"","keyValues":"false","overrideMetadata":"false","forcedUpdate":"false","flowControl":"false","x":400,"y":420,"wires":[["30ca981e72ef5157"]]},{"id":"625ae8924fc42fc4","type":"inject","z":"9ab6f481d04df0a5","name":"Update attributes","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"steps03\":{\"type\":\"Number\",\"value\":100,\"metadata\":{}},\"steps04\":{\"type\":\"Number\",\"value\":200,\"metadata\":{}}}","payloadType":"json","x":120,"y":420,"wires":[["ac9319aee416caa7"]]},{"id":"d4e39140b4dbd077","type":"comment","z":"9ab6f481d04df0a5","name":"4.- Actualiza varios atributos.","info":"","x":140,"y":360,"wires":[]},{"id":"a26ca4ca6a940d93","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8301bfef2815df18","type":"Open APIs","name":"Orion-LaVega","geType":"orion","apiEndpoint":"http://orion:1026","service":"lavega","idmEndpoint":"","idmType":"none"}]