nodered/7.- UC511
[{"id":"0f2911ed2ae0f7e8","type":"tab","label":"7.- UC511","disabled":false,"info":"","env":[]},{"id":"0d4dd516da69bdc1","type":"http in","z":"0f2911ed2ae0f7e8","name":"uc511 server","url":"001/hiba/rabanales/uc511-d1","method":"post","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["71f013dd6a7a010d"]]},{"id":"71f013dd6a7a010d","type":"function","z":"0f2911ed2ae0f7e8","name":"Decode Action String","func":"// Generate TTN DownLink Topic\nmsg.topic = \"v3/atd-uc511-d1@ttn/devices/\" + msg.payload.data[0].id.split(\":\")[3] + \"/down/replace\";\n// Action Value\nconst control = msg.payload.data[0].action.value.substr(3,1);\n// Control messageCounter\nif (control != '-'){\n    msg.payload = \"Error\";\n} else {\n    // Capture Data Encoded\n    var compose = msg.payload.data[0].action.value;\n    const myArray = compose.split(\"-\");        \n    msg.payload = myArray[1];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["f903c2edf936f023"]]},{"id":"dbba993eb1d4f5af","type":"comment","z":"0f2911ed2ae0f7e8","name":"Server UC511","info":"Servidor UC511 para suscripciones.","x":110,"y":60,"wires":[]},{"id":"f903c2edf936f023","type":"function","z":"0f2911ed2ae0f7e8","name":"Encode Milesight Protocol","func":"// Decode Milesight Protocol to Base64\nconst binaryString = Buffer.from(msg.payload, 'hex').toString('binary');\nconst base64String = Buffer.from(binaryString, 'binary').toString('base64');\n// Compose Message\nmsg.payload = {\n    \"downlinks\": [\n        {\n            \"f_port\": 1,\n            \"frm_payload\": base64String,\n            \"priority\": \"HIGH\"\n        }\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":100,"wires":[["891ee3cf3ed68f2d","7ffe1aaec777e566"]]},{"id":"891ee3cf3ed68f2d","type":"mqtt out","z":"0f2911ed2ae0f7e8","name":"DownLink TTN UC51x","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"854b8b834ef77e82","x":780,"y":100,"wires":[]},{"id":"7ffe1aaec777e566","type":"debug","z":"0f2911ed2ae0f7e8","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":220,"wires":[]},{"id":"854b8b834ef77e82","type":"mqtt-broker","name":"TTN UC511 Broker","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]